@font-face {
    font-family: 'receiptional_receiptregular';
    src: url('receiptional-receipt-webfont.woff2') format('woff2'),
         url('receiptional-receipt-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.content {
    max-width: 450px;
    margin: auto;
    height: 600px;
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    /*background-color: rgb(224, 224, 224);*/
    background-image: url("test2.gif");
    background-size: 100%;
    filter: drop-shadow(10px 10px 10px #222);
    /*box-shadow: 10px 15px;*/
  }
header {
    
    text-align: center;
    font-family: 'receiptional_receiptregular';
}

body {
    background-color: rgb(114, 114, 114);
    font-family: 'Courier New';
  }

li{
    display: inline;
    margin-right: 8px;
}


/*


header{
height: 45px;
}
header nav ul{
display: flex;
margin-left: 80%;
}

header nav ul li{
padding-left: 10%;
}

section{
height: 100vh;
border: 1px solid grey;
display: flex;
justify-content: center;
align-items: center;
}

.Container{
margin-top: 10%
}

.Container img{
height: 300px;
}

.Container h2{
margin-top: 3%;
}

footer {
line-height: 40px;
display: flex;
justify-content: center;
}