/*@font-face{
	font-family: 'reciept';
	src: url('receptional-receipt-webfont.woff2') format('woff2'),
	url('receptional-receipt-webfont.woff') format ('woff');
	font-weight: normal;
	font-style: normal;
* {
	font-family: 'receipt';
}

* {
	background-color: rgb(252, 248, 242);
	cursor: nw-resize;
}
*/
